@use '../base/variables' as *;

// Loading spinner. Loads in a 360 circle.
.loading-spinner {
    text-align: center;
    color: $primary-color;
    font-size: 1.1rem;
    padding: $spacing-lg;
    
    // Animation
    &::after {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: $spacing-sm;
        border: 3px solid $border-color;
        border-top-color: $primary-color;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    // This is only used for buttons, to put the spinner inside.
    &.inline {
        text-align: inherit;
        font-size: 0;
        display: inline-block;
        padding: 0;
        
        &::after {
            width: 1.5rem;
            height: 1.5rem;
            margin: 0;
            border-width: 2px;
        }
    } 
}

// Rotates indefinitely.
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

// Skeleton structure for loading notes.
.skeleton {
    background-color: white;
    padding: $spacing-md;
    border-radius: $border-radius;
    box-shadow: $box-shadow_standard;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    animation: pulse 1.2s infinite ease-in-out;
}

// Visual elements from the notes.
.skeleton-title,
.skeleton-text,
.skeleton-date,
.skeleton-buttons {
    background-color: rgba($text-color, 0.1);
    border-radius: 4px;
}

// Title
.skeleton-title {
    height: 1.2rem;
    width: 70%;
}

// Content
.skeleton-text {
    height: 0.9rem;
    width: 100%;

    &.short {
        width: 80%;
    }
}

// Create_at
.skeleton-date {
    height: 0.75rem;
    width: 30%;
    margin-top: $spacing-sm;
}

// Buttons
.skeleton-buttons {
    height: 1.6rem;
    width: 60%;
    margin-top: auto;
}


// Heartbeat animation
@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
}


