@use './variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}
input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
  
    &:focus {
        outline: 2px solid $primary-color;
        outline-offset: 2px;
    }
}
