$primary-color: #514796;
$secondary-color: #f3f3f8; 
$accept-color: #10b981;
$danger-color: #e53935;
$text-color: #2e2e3a;

$font-family: 'Consolas', 'Courier New', monospace; 
$font-size: 16px;
$line-height: 1.6;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

$border-radius: 6px;
$border-color: #d1d5db;

$box-shadow_standard: 0 2px 6px rgba(0,0,0, 0.05);