@use '../base/variables' as *;

// Primary layout for the app
.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
}

// Main container
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: $spacing-lg $spacing-md;
    background-color: white;
}

// Headers style
header {
    background-color: $primary-color;
    color: white;
    padding: 1.5rem $spacing-md;
    text-align: center;

    h1 {
        font-family: $font-family;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: $spacing-sm;
    }
}

// Main section centered
main {
    flex: 1;
    display: flex;
    justify-content: center; 
    padding: $spacing-lg $spacing-md;
    background-color: $secondary-color;
}

// Footer styles
footer {
    background-color: rgba($primary-color, 0.4);
    color: white;
    text-align: center;
    padding: $spacing-md;
    font-size: 0.9rem;
}

//Container for the forms
.note-form {
    margin-bottom: $spacing-lg;
}